<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'dream_coffee.png', class: 'd-block w-100 h-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'dream_coffee1.png', class: 'd-block w-100 h-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'dream_coffee2.png', class: 'd-block w-100 h-100' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
