<div class="container">
  <div class="row">
    <div class="col-sm-5 p-2">
      <h3 class="profile-title">This Shop</h3>
        <%= image_tag 'dreamcoffee_signboard.png', class: "profile_image--item", width: '80%', height: '60%' %>
        <p class="h4 p-1 profile_info">自家焙煎　夢珈琲</p>
        <p class="profile_address">福岡県太宰府市向佐野３−１−１</p>
        <p class="profile_telephone">TEL 092-923-3380</p>
        <p class="business_hours">水曜日定休　10時〜19時</p>
    </div>
    <div class="col-sm-7 p-2">
      <h3 class="profile-title">店主から一言</h3>
      <p class="h5">送料について</p>
      <p class="h5">送料について</p>
    </div>

  </div>
</div>
