<div class="container">
  <div class="row">
    <div class="col-sm-5 p-2">
      <h3 class="profile-title">This Shop</h3>
        <%= image_tag 'dreamcoffee_signboard.png', class: "profile_image--item", width: '80%', height: '60%' %>
        <p class="h4 p-1 profile_info">自家焙煎　夢珈琲</p>
        <p class="profile_address">福岡県太宰府市向佐野３−１−１</p>
        <p class="profile_telephone">TEL 092-923-3380</p>
        <p class="business_hours">水曜日定休　10時〜19時</p>
    </div>
    <div class="col-sm-7 p-2">
      <h3 class="profile-title">店主から一言</h3>
      <p class="h5">送料について</p>
      <p>通常送料、税込800円。3,000円以上で税込400円。5,000円以上で送料無料。</p>
      <p class="h5">支払方法について</p>
      <p>ヤマト決済サービスを利用しております。店頭お受け取りの場合は店頭での支払いも受け付けております。現金のみ。</p>
      <p class="h5">返品について</p>
      <p>返品期限：商品到着後3日以内。誤品配送、破損品など商品に明確な不備がある場合商品をお取替えさせていただきます。その際の送料は当店が負担いたします。※注文の間違いや、味が好みと違う等、商品発送後のお客様都合でのキャンセルや変更、返品はお受けできかねます。コーヒーが食品であり、嗜好品あることをご理解の上、予めご了承いただきますよう宜しく御願い致します。</p>
    </div>

  </div>
</div>
